
<app-title-bar></app-title-bar>

<div class = "container__articles">
  <div class = "articles__main">
    <app-large-card
    Id="1"
    photoCard=""
    cardTitle= ""
    cardDescription=""
    ></app-large-card>
  </div>

  <div class = "articles__others">
    <app-small-card
    Id="2"
    PhotoCard =""
    CardTitle =""
    ></app-small-card>

    <app-small-card
    Id="3"
    PhotoCard =""
    CardTitle =""
    ></app-small-card>

    <app-small-card
    Id="4"
    PhotoCard =""
    CardTitle =""
    ></app-small-card>

  </div>
</div>

<div class = "container__articles">
  <div class = "articles__main">
    <app-large-card
    photoCard=" "
    cardTitle=" "
    cardDescription=" "
    ></app-large-card>
  </div>
  <div class = "articles__others">
    <app-small-card
    PhotoCard =" "
    CardTitle =" "
    ></app-small-card>

    <app-small-card
    PhotoCard =" "
    CardTitle =" "
    ></app-small-card>

    <app-small-card
    PhotoCard =" "
    CardTitle =" "
    ></app-small-card>

  </div>
</div>
